@charset "UTF-8";

html {
  background-color: grey;
}

body {
  margin: 0 auto;
  width: 80%;
}

header {
  padding: 20px 0 20px 40px;
  background-color: darkgrey;
  border-bottom: 2px solid;
}

nav {
  width: 20%;
  background-color: darkgrey;
}

main {
  width: 80%;
  background-color: darkgrey;
  border-left: 2px solid;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: darkgrey;
  border-top: 2px solid;
}

table {
  width: 100%;
  border: 1px solid;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid;
}

ul {
  list-style-type: none;
}

#noscript {
  font-weight: bold;
}

#main_content {
  display: flex;
}

