{% extends 'airlift/base.html' %}

{% block title %}
  {{ cargo }}
{% endblock %}

{% block header %}
  CARGO: {{ cargo }}
{% endblock %}

{% block page_content %}
	<section>
	  <p><a href="{% url 'airlift:cargos_update' pk=cargo.id %}">EDIT CARGO</a></p>
    <p>Cargo name: {{ cargo.name }}</p>
    <p>Quantity: {{ cargo.quantity }}</p>
    <p>Comment: {{ cargo.comment }}</p>
	</section>
  <section>
    <p>Aircraft with this cargo: </p>
    <ul>
      {% for aircraft in cargo.get_aircrafts %}
        <li>
          {{ aircraft }} | <a href="{{ aircraft.get_absolute_url }}">Details</a><br><hr>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}