{% extends 'airlift/base.html' %}

{% block title %}
  {{ flight }}
{% endblock %}

{% block header %}
  DESTINATION: {{ flight }}
{% endblock %}

{% block page_content %}
	<section>
		<p><a href="{% url 'airlift:destinations_update' pk=flight.id %}">EDIT FLIGHT</a></p>
		<p>From: {{ flight.from_airport }}</p>
		<p>To: {{ flight.to_airport }}</p>
		<p>Aircrafts on this flight:</p>
	</section>
	<section>
		<ul>
			<li>
				{% for aircraft in flight.get_aircrafts %}
					<p>Aircraft name: {{ aircraft }} | <a href="{{ aircraft.get_absolute_url }}">Details</a></p>
					<p>Pilots in this airplane:</p>
					{% for pilot in aircraft.get_pilots %}
						<ul>
							<li>
								First name: {{ pilot.first_name }}<br>
								Last name: {{ pilot.last_name }}<br>
								<a href="{{ pilot.get_absolute_url }}">Details</a>
								<hr>
							</li>
						</ul>
					{% endfor %}
					<p>Cargos in this airplane:</p>
					{% for cargo in aircraft.get_cargos %}
						<ul>
							<li>
								Cargo name: {{ cargo.name }}<br>
								Quantity: {{ cargo.quantity }}<br>
								<a href="{{ cargo.get_absolute_url }}">Details</a>
								<hr>
							</li>
						</ul>
					{% endfor %}
					<hr>
				{% endfor %}
			</li>
		</ul>
	</section>
{% endblock %}