{% extends 'airlift/base.html' %}

{% block title %}
  {{ flights }}
{% endblock %}

{% block header %}
  DESTINATION: {{ flights }}
{% endblock %}

{% block page_content %}
  <p>From: {{ flights.from_airport }}</p>
  <p>To: {{ flights.to_airport }}</p>
  <p>Aircrafts on this flight:</p>
  <ul>
    <li>
      {% for aircraft in flights.get_aircrafts %}
      <p>Aircraft name: {{ aircraft }}</p>
      <p>Pilots in this airplane:
        {% for pilot in aircraft.get_pilots %}
          {{ pilot.first_name }} {{ pilot.last_name }};
        {% endfor %}
      </p>
      <p>Cargos in this airplane:
        {% for cargo in aircraft.get_cargos %}
          "{{ cargo.name }}", qty: {{ cargo.quantity }};
        {% endfor %}
      </p>
      <hr>
      {% endfor %}
    </li>
  </ul>


{% endblock %}