{% extends 'airlift/base.html' %}

{% block title %}
  Main page
{% endblock %}

{% block header %}
  main page
{% endblock %}

{% block page_content %}
  <table>
    <caption>Latest flights</caption>
    {% include 'airlift/destinations_list_table_content.html' %}
  </table>
  <hr>
  <table>
    <caption>Latest aircraft</caption>
    {% include 'airlift/aircrafts_list_table_content.html' %}
  </table>
  <hr>
  <table>
    <caption>Latest cargos</caption>
    {% include 'airlift/cargos_list_table_content.html' %}
  </table>
  <hr>
  <table>
    <caption>Latest pilots</caption>
    {% include 'airlift/pilots_list_table_content.html' %}
  </table>
{% endblock %}
