{% extends 'airlift/base.html' %}

{% block title %}
  {{ pilots_informations.pilot }}
{% endblock %}

{% block header %}
  UPDATE ADDITIONAL INFORMATION: {{ pilots_informations.pilot }}
{% endblock %}

{% block page_content %}
	<section>
    <p><a href="{% url 'airlift:pilots_update' pk=pilots_informations.pilot_id %}">EDIT BASIC PILOT INFORMATION FOR: {{ pilots_informations.pilot|upper }}</a></p>
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Update">
    </form>
	</section>
{% endblock %}